// ==========================================================================
// Menu
// ==========================================================================

.menu {
  cursor: $cursor;

  @include e(first) {
    margin-bottom: 0.2em;
    @extend %menu;
  }

  @include e(middle) {
    margin-bottom: 0.2em;
    @extend %menu;
    width: 15px;
  }

  @include e(third) {
    @extend %menu;
  }

  @media #{$break--l} {
    display: none;
  }
}

.active .menu__first {
  transform: rotate(45deg) translate(8px, 8px);
  transition: transform 0.35s ease-in-out;
}

.active .menu__middle {
  transform: translateX(-20px);
  opacity: 0;
}

.active .menu__third {
  transform: rotate((-45deg));
  transition: transform 0.35s ease-in-out;
}
