// ==========================================================================
// Nav
// ==========================================================================

.nav {
  // display: none;

  @media #{$break--l} {
    display: none;
  }

  background-image: linear-gradient(
    to bottom,
    rgba(49, 52, 80, 0.9),
    rgba(43, 183, 218, 0.2)
  );
  position: fixed;
  left: 0;
  right: 0;
  top: 75px;
  z-index: 2;
  padding: $gutters;
  text-align: $text--center;
  min-height: 100vh;

  @media #{$break--l} {
    display: none;
  }

  @include e(list) {
    background-color: $white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 2em;
    border-radius: 5px;
  }

  @include e(item) {
    padding-bottom: em(20px);

    a {
      color: $primary-col;
      font-weight: $font-weight--medium;

      &::after {
        @include nav();
        width: 7%;
        right: 46%;
        border-image-width: em(3px);
        padding-bottom: em(4px);
        opacity: 0;
      }

      &:hover::after {
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
      }
    }
  }
}

.nav-horizontal {
  display: none;

  @media #{$break--l} {
    display: block;

    .list .item {
      display: inline-block;
      padding-right: 1em;
      position: relative;
    }

    .item a {
      color: $secondary-col;

      &:hover {
        color: $primary-col;
      }

      &::after {
        @include nav();
        width: 80%;
        border-image-width: em(5px);
        padding-bottom: em(30px);
        opacity: 0;
      }

      &:hover::after {
        opacity: 1;
        color: $primary-col;
        transition: opacity 0.5s ease-in-out;
      }
    }
  }
}
